/////////////////////////////////////////////////////
//
// 채팅 서버 Config
//
/////////////////////////////////////////////////////

:SERVER
{
	//------------------------------------------------------
	// Listen IP / PORT
	//------------------------------------------------------
	BIND_IP			= "127.0.0.1"
	BIND_PORT			= 3000

	NAGLE_OPTION		= 1
	IOCP_WORKER_THREAD	= 4
	IOCP_ACTIVE_THREAD		= 2


	SESSION_MAX 		= 5000
	USER_MAX			= 5000

	SEND_INTERVAL_TIME 	= 20 //ms 단위

	//-----------------------------------
	// Packet Encode Key
	//-----------------------------------
	PACKET_CODE	= 119		//0x77
	PACKET_KEY	= 50			//0x32

	//-----------------------------------
	// SystemLog Level
	//-----------------------------------
//	LOG_LEVEL = "DEBUG"
	LOG_LEVEL = "ERROR"
//	LOG_LEVEL = "SYSTEM"

}



:SERVICE
{
	// 미응답 유저 타임아웃 처리
	TIMEOUT_DISCONNECT_USER		= 40000	//40초
	TIMEOUT_DISCONNECT_SESSION		= 10000	//10초

}

	
